@font-face {
    font-family: 'Mier B';
    src: url('/font/MierB-Thin.eot');
    src: local('Mier B Thin'), local('MierB-Thin'),
        url('/font/MierB-Thin.eot?#iefix') format('embedded-opentype'),
        url('/font/MierB-Thin.woff2') format('woff2'),
        url('/font/MierB-Thin.woff') format('woff'),
        url('/font/MierB-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Mier B';
    src: url('/font/MierB-HeavyItalic.eot');
    src: local('Mier B Heavy Italic'), local('MierB-HeavyItalic'),
        url('/font/MierB-HeavyItalic.eot?#iefix') format('embedded-opentype'),
        url('/font/MierB-HeavyItalic.woff2') format('woff2'),
        url('/font/MierB-HeavyItalic.woff') format('woff'),
        url('/font/MierB-HeavyItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Mier B';
    src: url('/font/MierB-Regular.eot');
    src: local('Mier B Regular'), local('MierB-Regular'),
        url('/font/MierB-Regular.eot?#iefix') format('embedded-opentype'),
        url('/font/MierB-Regular.woff2') format('woff2'),
        url('/font/MierB-Regular.woff') format('woff'),
        url('/font/MierB-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Mier B';
    src: url('/font/MierB-ThinItalic.eot');
    src: local('Mier B Thin Italic'), local('MierB-ThinItalic'),
        url('/font/MierB-ThinItalic.eot?#iefix') format('embedded-opentype'),
        url('/font/MierB-ThinItalic.woff2') format('woff2'),
        url('/font/MierB-ThinItalic.woff') format('woff'),
        url('/font/MierB-ThinItalic.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'Mier B Book';
    src: url('/font/MierB-BookItalic.eot');
    src: local('Mier B Book Italic'), local('MierB-BookItalic'),
        url('/font/MierB-BookItalic.eot?#iefix') format('embedded-opentype'),
        url('/font/MierB-BookItalic.woff2') format('woff2'),
        url('/font/MierB-BookItalic.woff') format('woff'),
        url('/font/MierB-BookItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Mier B';
    src: url('/font/MierB-Black.eot');
    src: local('Mier B Black'), local('MierB-Black'),
        url('/font/MierB-Black.eot?#iefix') format('embedded-opentype'),
        url('/font/MierB-Black.woff2') format('woff2'),
        url('/font/MierB-Black.woff') format('woff'),
        url('/font/MierB-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Mier B';
    src: url('/font/MierB-Bold.eot');
    src: local('Mier B Bold'), local('MierB-Bold'),
        url('/font/MierB-Bold.eot?#iefix') format('embedded-opentype'),
        url('/font/MierB-Bold.woff2') format('woff2'),
        url('/font/MierB-Bold.woff') format('woff'),
        url('/font/MierB-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Mier B';
    src: url('/font/MierB-Heavy.eot');
    src: local('Mier B Heavy'), local('MierB-Heavy'),
        url('/font/MierB-Heavy.eot?#iefix') format('embedded-opentype'),
        url('/font/MierB-Heavy.woff2') format('woff2'),
        url('/font/MierB-Heavy.woff') format('woff'),
        url('/font/MierB-Heavy.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Mier B Book';
    src: url('/font/MierB-Book.eot');
    src: local('Mier B Book'), local('MierB-Book'),
        url('/font/MierB-Book.eot?#iefix') format('embedded-opentype'),
        url('/font/MierB-Book.woff2') format('woff2'),
        url('/font/MierB-Book.woff') format('woff'),
        url('/font/MierB-Book.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'Mier B';
    src: url('/font/MierB-ExtraBold.eot');
    src: local('Mier B ExtraBold'), local('MierB-ExtraBold'),
        url('/font/MierB-ExtraBold.eot?#iefix') format('embedded-opentype'),
        url('/font/MierB-ExtraBold.woff2') format('woff2'),
        url('/font/MierB-ExtraBold.woff') format('woff'),
        url('/font/MierB-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}



@font-face {
    font-family: 'Mier B';
    src: url('/font/MierB-ExtraBoldItalic.eot');
    src: local('Mier B ExtraBold Italic'), local('MierB-ExtraBoldItalic'),
        url('/font/MierB-ExtraBoldItalic.eot?#iefix') format('embedded-opentype'),
        url('/font/MierB-ExtraBoldItalic.woff2') format('woff2'),
        url('/font/MierB-ExtraBoldItalic.woff') format('woff'),
        url('/font/MierB-ExtraBoldItalic.ttf') format('truetype');
    font-weight: 800;
    font-style: italic;
}

@font-face {
    font-family: 'Mier B';
    src: url('/font/MierB-DemiBold.eot');
    src: local('Mier B DemiBold'), local('MierB-DemiBold'),
        url('/font/MierB-DemiBold.eot?#iefix') format('embedded-opentype'),
        url('/font/MierB-DemiBold.woff2') format('woff2'),
        url('/font/MierB-DemiBold.woff') format('woff'),
        url('/font/MierB-DemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}



@font-face {
    font-family: 'Mier B';
    src: url('/font/MierB-Light.eot');
    src: local('Mier B Light'), local('MierB-Light'),
        url('/font/MierB-Light.eot?#iefix') format('embedded-opentype'),
        url('/font/MierB-Light.woff2') format('woff2'),
        url('/font/MierB-Light.woff') format('woff'),
        url('/font/MierB-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}


@font-face {
    font-family: 'Mier B';
    src: url('/font/MierB-BlackItalic.eot');
    src: local('Mier B Black Italic'), local('MierB-BlackItalic'),
        url('/font/MierB-BlackItalic.eot?#iefix') format('embedded-opentype'),
        url('/font/MierB-BlackItalic.woff2') format('woff2'),
        url('/font/MierB-BlackItalic.woff') format('woff'),
        url('/font/MierB-BlackItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Mier B';
    src: url('/font/MierB-BoldItalic.eot');
    src: local('Mier B Bold Italic'), local('MierB-BoldItalic'),
        url('/font/MierB-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('/font/MierB-BoldItalic.woff2') format('woff2'),
        url('/font/MierB-BoldItalic.woff') format('woff'),
        url('/font/MierB-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Mier B';
    src: url('/font/MierB-LightItalic.eot');
    src: local('Mier B Light Italic'), local('MierB-LightItalic'),
        url('/font/MierB-LightItalic.eot?#iefix') format('embedded-opentype'),
        url('/font/MierB-LightItalic.woff2') format('woff2'),
        url('/font/MierB-LightItalic.woff') format('woff'),
        url('/font/MierB-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}



@font-face {
    font-family: 'Mier B';
    src: url('/font/MierB-DemiBoldItalic.eot');
    src: local('Mier B DemiBold Italic'), local('MierB-DemiBoldItalic'),
        url('/font/MierB-DemiBoldItalic.eot?#iefix') format('embedded-opentype'),
        url('/font/MierB-DemiBoldItalic.woff2') format('woff2'),
        url('/font/MierB-DemiBoldItalic.woff') format('woff'),
        url('/font/MierB-DemiBoldItalic.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
}





@font-face {
    font-family: 'Mier B Hair';
    src: url('/font/MierB-Hair.eot');
    src: local('Mier B Hair'), local('MierB-Hair'),
        url('/font/MierB-Hair.eot?#iefix') format('embedded-opentype'),
        url('/font/MierB-Hair.woff2') format('woff2'),
        url('/font/MierB-Hair.woff') format('woff'),
        url('/font/MierB-Hair.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Mier B Hair';
    src: url('/font/MierB-HairItalic.eot');
    src: local('Mier B Hair Italic'), local('MierB-HairItalic'),
        url('/font/MierB-HairItalic.eot?#iefix') format('embedded-opentype'),
        url('/font/MierB-HairItalic.woff2') format('woff2'),
        url('/font/MierB-HairItalic.woff') format('woff'),
        url('/font/MierB-HairItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Mier B';
    src: url('/font/MierB-Italic.eot');
    src: local('Mier B Italic'), local('MierB-Italic'),
        url('/font/MierB-Italic.eot?#iefix') format('embedded-opentype'),
        url('/font/MierB-Italic.woff2') format('woff2'),
        url('/font/MierB-Italic.woff') format('woff'),
        url('/font/MierB-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

